<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<body >
  <div >
    <h1 class="caja"><p>hola mundo</p></h1>
    <ul class="m-list m-list--horizontal">
      <li class="m-list__item">Elemento</li>
      <li class="m-list__item">Elemento</li>
      <li class="m-list__item">Elemento</li>
      <li class="m-list__item">Elemento</li>
    </ul>
  </div>
  <div class="m-search">
    <input type="text" class="m-search__input" placeholder="buscar...">
    <button class="m-search__btn">buscar</button>
  </div>
</body>
</html>