@use '../atoms' ;

.caja{
    background-color: atoms.$color-red;
    padding: .2em;
    p{
        color: atoms.$color-white;
        font-family: atoms.$font-second;
        font-size: 18px;
    }
}